@font-face {
  font-family: "ISO";
  src: url("VCTRMono-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-ThinItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-RegularItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "ISO";
  src: url("VCTRMono-MediumItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-BoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "ISO";
  src: url("VCTRMono-BlackItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 900;
}
