@font-face {
    font-family: "ISO";
    src: url("VCTRMonov0.12-Thin.woff2") format('woff2');
    font-style: normal;
    font-weight: 100;
  }
  
  @font-face {
    font-family: "ISO";
    src: url("VCTRMonov0.12-Light.woff2") format('woff2');
    font-style: normal;
    font-weight: 200;
  }
  
  @font-face {
      font-family: "ISO";
      src: url("VCTRMonov0.12-Regular.woff2") format('woff2');
      font-style: normal;
      font-weight: 400;
    }

  @font-face {
    font-family: "ISO";
    src: url("VCTRMonov0.12-RegularItalic.woff2") format('woff2');
    font-style: italic;
    font-weight: 400;
    }
  
  @font-face {
    font-family: "ISO";
    src: url("VCTRMonov0.12-Medium.woff2") format('woff2');
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "ISO";
    src: url("VCTRMonov0.12-MediumItalic.woff2") format('woff2');
    font-style: normal;
    font-weight: 600;
  }
  
  @font-face {
    font-family: "ISO";
    src: url("VCTRMonov0.12-Bold.woff2") format('woff2');
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: "ISO";
    src: url("VCTRMonov0.12-Black.woff2") format('woff2');
    font-style: normal;
    font-weight: 900;
  }