body,
html {
  height: 100%;
  font-size: 16px;
  @apply font-sans text-base text-base-content;
}

/******** App's root container *********/
/* Max width=3xl */
.root-container-default {
  @apply relative max-w-screen-3xl w-full mx-auto bg-base-100;
}
/* Full screen */
.root-container-full {
  @apply relative w-screen max-w-full bg-base-100;
}
/***************************************/

.layout-edit {
  @apply bg-white  max-w-4xl  2xl:max-w-screen-2xl mx-auto px-4 py-8 mt-8 mb-16 rounded-lg;
}

/* On smaller screens stack forms */
.layout-edit-narrow {
  @apply max-w-4xl mx-auto flex flex-col gap-y-8;
}

/* Layout for summary section of the area and climb page. 2 columns on desktop, normal stack div on mobile. */
.area-climb-page-summary {
  @apply mt-6 lg:grid lg:grid-cols-3 w-full;
}

.area-climb-page-summary-left {
  @apply  lg:pr-8 border-base-content;
}

.area-climb-page-summary-right {
  @apply mt-6 lg:mt-0 lg:col-span-2 lg:pl-16 w-full;
}

/**
 * Area & climb main container 
 */
.article {
  @apply z-10 px-4 py-4 lg:py-8 max-w-screen-xl mx-auto w-full;
}

@layer utilities {
  /* For device up to xl (exclusively) */
  .content-fullscreen-tablet {
    @apply relative flex flex-col w-full max-w-screen-lg;
  }

  .content-default {
    @apply relative flex flex-col w-full max-w-full;
  }

  .with-standard-y-margin {
    @apply py-6;
  }

  .with-standard-y-margin-2x {
    @apply py-12;
  }

  .content-mobile {
    @apply relative flex flex-col;
  }

  .layout-edit-wide {
    /* On wide screens put 2 forms side by side */
    @apply max-w-full flex flex-row justify-center gap-x-4 gap-y-0;
  }

  .horizontal-center {
    @apply flex flex-col items-center;
  }

  /* Add a small horizontal padding for main section headers */
  .h-padding-wide {
    @apply px-4 2xl:px-0;
  }

  h1 {
    @apply text-primary text-4xl lg:text-5xl tracking-tight mb-4;
  }

  h2 {
    @apply text-primary text-xl font-bold tracking-tight leading-loose;
  }

  h3 {
    @apply text-2xl font-light tracking-tighter text-primary;
  }

  /**
  A slightly deemphasized dotted underline for a tag in order to not competing with horizontal rulers
  */
  .link-dotted {
    @apply underline decoration-dotted underline-offset-2 decoration-base-200;
  }

  .home-hero-bg-img {
    background-size: cover;
    background-image: url("/liberty-bell-hero.jpeg");
  }

  .home-hero {
    min-height: 600px;
    @apply relative block top-0 left-0 bg-gray-800 home-hero-bg-img xl:min-h-[500px] xl:h-[80vh];
  }

  .height-mobile-portrait {
    height: 600px;
  }

  .home-hero-mobile {
    @apply lg:hidden h-screen portrait:height-mobile-portrait w-screen bg-gray-800;
  }

  .dialog-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-box !important; 
  }

  .dialog-default {
    @apply  top-0 left-0 h-screen md:dialog-center fixed z-50 w-screen max-w-screen-md bg-base-100 lg:drop-shadow-lg overflow-y-auto h-fit max-h-screen lg:max-h-[95vh];
  }

  .dialog-wide {
    @apply top-0 left-0 fixed z-50 w-full h-full w-screen h-screen bg-base-100 overflow-y-auto overscroll-contain;
  }

  .dialog-title {
    @apply py-4 lg:py-5 left-0 top-0 w-full text-center fixed bg-base-100 bg-opacity-80 backdrop-blur-sm z-50 leading-none;
  }

  .dialog-close-button {
    @apply fixed top-0.5 left-0.5 lg:top-1 lg:left-1 z-50;
  }

  .dialog-form-default {
    @apply mt-16 lg:mt-20 px-2 lg:px-4 mb-6 !important;
  }
}
.title {
  @apply text-4xl font-bold font-sans my-4 !important;
}

p {
  @apply block mb-4 text-base;
}

.editor-profile-container {
  @apply w-full bg-custom-avery bg-opacity-20 2xl:w-1/3 border-gray-300 border rounded-lg shadow-sm bg-white;
}

.editor-profile-header {
  @apply bg-custom-secondary border-custom-secondary border-b py-4 px-4 h-14 bg-gray-100 text-base align-middle rounded-t-lg;
}

@layer components {

  /* .text-primary {
    @apply text-gray-800;
  }
  .text-secondary {
    @apply text-gray-600;
  }
  .text-tertiary {
    @apply text-gray-400;
  } */

  .text-primary-contrast {
    @apply text-white;
  }
  .text-secondary-contrast {
    @apply text-gray-300;
  }
  .text-tertiary-contrast {
    @apply text-gray-500;
  }
  .bg-default {
    @apply bg-gray-50;
  }

  .bg-contrast {
    @apply bg-gray-200;
  }

  .btn-nav-secondary {
    @apply bg-ob-tertiary text-black hover:scale-110 duration-300 !important;
  }

  .btn-nav {
    @apply text-white hover:scale-110 duration-300 !important;
  }

  .btn-success {
    @apply bg-green-300 hover:bg-green-400;
  }

  .btn-candy {
    @apply bg-pink-300 hover:bg-pink-400;
  }

  .btn-text {
    @apply hover:bg-gray-200 underline shadow-none;
  }

  .btn-default {
    @apply bg-gray-200 text-gray-900 border-2 border-gray-700;
  }

  .link-primary {
    @apply underline hover:text-yellow-600;
  }

  .pill {
    @apply rounded-full py-1 px-4;
  }

  .edit-input {
    @apply px-2 py-1 flex-grow w-full	outline-none bg-transparent	border border-gray-300 rounded-md focus:outline-none;
  }
  .edit-input:focus {
    @apply border-2 border-gray-700 ring-transparent;
  }

  .edit-form-row {
    @apply py-4 flex flex-col items-center md:flex-row md:gap-x-4 2xl:gap-x-2;
  }

  .dropdown-item > * {
    @apply px-4 py-2  hover:bg-gray-100;
  }
  .dropdown-item > *:first-child {
    @apply mt-1;
  }
  .dropdown-item > *:last-child {
    @apply mb-1;
  }

  .editor-container {
    @apply -mx-2 p-2 rounded-lg !important;
  }

  .editor-input {
    @apply  -m-2 p-2 rounded-lg focus:bg-info/20 border-none outline-none !important;
  }

  .editor-container {
    position: relative;
  }

  .editor-placeholder {
    overflow: hidden;
    position: absolute;
    user-select: none;
    pointer-events: none;
    @apply top-2.5 left-3 text-base-300 text-opacity-50 italic;
  }

  .editor-csv-placeholder {
    overflow: hidden;
    position: absolute;
    user-select: none;
    pointer-events: none;
    @apply w-full rounded-lg top-0 left-3 text-base-300 text-opacity-50 italic;
  }

  code {
    @apply font-sans text-base text-slate-900 leading-relaxed !important;
  }
  p.editor-paragraph:last-child {
    margin-bottom: 0;
  }

  p.editor-single-paragraph {
    margin-bottom: 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  p.editor-csv-paragraph:last-child {
    margin-bottom: 0;
  }

  p.editor-csv-paragraph {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }

  .editor-csv-container {
    position: relative;
    counter-reset: line;
    @apply overflow-clip rounded-box;
  }

  .editor-csv-input {
    counter-reset: line;
    @apply focus:bg-info/20 border-none rounded-box outline-none min-h-[8rem];
  }

  p.editor-csv-paragraph span {
    counter-increment: line;
  }
  p.editor-csv-paragraph span::before {
    display: inline-block;
    text-align:right;
    width: 2rem;
    min-width: 1rem;
    content: counter(line);
    @apply pr-1 mr-2 border-r border-base-300/50 bg-base-100 text-base-300/60 !important;
  }
}

/* for climb profile form */
input:checked + label {
  @apply text-white;
  @apply bg-gray-700;
}

.markdown {
  @apply font-sans;
}

.markdown figure + figure {
  @apply mt-12;
}

.markdown figcaption {
  @apply text-gray-500 text-sm text-center my-4;
}

.markdown pre {
  @apply text-sm font-mono bg-green-100 -mx-1.5 px-1.5 py-1.5 rounded !important;
}

.markdown ul {
  @apply list-inside list-disc;
}

.markdown a {
  @apply underline;
}

.markdown table {
  @apply table-auto w-full;
}

.markdown table thead {
  @apply bg-custom-green bg-opacity-50;
}

.markdown table th {
  @apply p-2;
}

.markdown table td {
  @apply p-2;
}


.fading-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 150ms, opacity 100ms linear;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeinEffect {
  animation: fadeIn 1s;
}

.bottom-shadow {
  box-shadow: 0 4px 2px -2px rgb(240, 240, 240);
}

/* make nprogress bar thicker */
#nprogress .bar {
  height: 8px !important;
}

/* yds and vscale range slider */
.rc-slider-mark-text-active {
  @apply text-primary font-bold !important;
}

/* DTable (grade distribution table */
table td {
  @apply my-2 !important;
}

table td.dtable-highlight {
  @apply text-sm text-secondary bg-gray-200;
}

table td.dtable-highlight:nth-of-type(1) {
  @apply rounded-tl rounded-bl !important;
}
table td.dtable-highlight:last-of-type {
  @apply rounded-tr rounded-br !important;
}

table td.dtable-my-range {
  @apply bg-ob-secondary bg-opacity-70;
}

.collapse-plus .collapse-title:after {
  @apply text-3xl !important;
}

/* Move Daisy indicator closer to the center */
.indicator-item-mod {
  transform: translateY(-15%) translateX(15%); 
}

/** 2-column layout for Area and Climb list */
.two-column-table {
  @apply mt-16 lg:gap-x-24 lg:columns-2;
}

.area-row {
  @apply py-4 flex flex-row flex-nowrap gap-4 items-start border-t break-inside-avoid-column break-inside-avoid;
}

.area-entity-box {
  box-shadow: 2px 2px 0px #fe4f1a;
  @apply rounded h-8 w-8 grid place-content-center bg-area-coded text-base-100 text-sm hover:decoration-0 hover:no-underline;
}

.thick-link {
  @apply hover:underline underline-offset-4 decoration-4;
}


/**
* Overriding Daisy theme
*/
button:focus {
  @apply outline-base-content !important;
}

input:focus {
  @apply outline-base-content !important;
}

a:focus {
  @apply outline-base-content !important;
}

.radio:checked {
  @apply border-8 no-animation !important;
}

.tooltip:before {
  @apply border bg-tooltip text-sm text-base-content !important;
}

.card-body {
  @apply sm:px-0 border-0 !important;
}