@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .toggle-checkbox {
    box-shadow: none !important; 
  }
  .toggle-checkbox:checked {
      @apply: right-0 border-green-400;
      right: 0;
      border-color: #68D391;
      outline: none;
      box-shadow: none !important; 
  }

  .toggle-checkbox:checked + .toggle-label {
      @apply: bg-green-400;
      background-color: #68D391;
      outline: none;
      box-shadow: none !important; 
  }
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  box-sizing: border-box;
    width: 200px;
    height: 30px;
    padding: 22px 20px;
    color: #264653;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 1.5rem;
    box-shadow: none !important; 
    border: 2px solid rgba(229, 231, 235,1);
    outline: none;
  }
  
.react-autosuggest__input--focused {
  outline: none;
  border: 2px solid rgba(229, 231, 235,1) !important;
  box-shadow: none !important;
}


.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 66px;
  width: 422px;
  border-radius: 1.5rem;
  border: 2px solid rgba(229, 231, 235,1);
  background-color: #fff;
  color: #264653;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  /* border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; */
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
  border-radius:  1.5rem;
}

/* Main page hero card gradient color overlay */
.hero-card {
  background-image: linear-gradient(to right top, #12bee5, #00b6f4, #1bacff, #58a0ff, #888fff, #ac80f2, #c970e0, #e05ec8, #ee52ad, #f64b91, #f74a75, #f24f5a);
}

/* bg-gradient-to-r from-blue-100 to-indigo-200 */

.main-container {
  @apply font-sans text-base pt-12 text-gray-900 bg-white;
}

.default-layout {
  @apply w-full max-w-4xl mx-auto px-4 my-20 md:px-8 lg:px-24
}

.layout-edit {
  @apply bg-white w-full max-w-4xl mx-auto px-4 py-8 m-8  rounded-lg
}

.md-h1 {
  @apply text-3xl font-medium tracking-tight mt-14 mb-4 !important;
}

.md-h2 {
  @apply text-2xl font-bold mt-4 mb-1 !important;
}

.md-code {
  @apply text-base font-sans bg-green-100 -mx-1.5 px-1.5 py-1.5 !important;
}

.md-p {
  @apply text-base mt-4 mb-8 leading-8 !important;
}


@layer components {


  .btn {
    @apply no-underline rounded-lg px-6 py-2 text-gray-900 font-medium text-base shadow-md;
  }
  .btn-primary {
    @apply bg-yellow-300 hover:bg-yellow-400;
  }

  .btn-link {
    @apply hover:bg-gray-200 hover:underline shadow-none
  }

  .btn-default {
    @apply  text-gray-600
  }

  .link-primary {
    @apply underline hover:text-yellow-600;
  }

  .pill {
    @apply rounded-full py-1 px-4;
  }

  .slate-ToolbarButton {
    @apply fill-current text-gray-500 justify-center !important;
  }
  
  .slate-ToolbarButton-active {
    @apply fill-current text-pink-600 !important;
  }

  .edit-input {
    @apply flex-grow w-full	outline-none	border border-gray-100 rounded-md focus:outline-none;
  }
  .edit-input:focus {
    @apply border-2 border-gray-700 ring-transparent;
  }

  .edit-form-row {
    @apply py-4 flex flex-col items-center md:flex-row;
  }
}

.slate-h1 {
  @apply md-h1 ;
}

.slate-h2 {
  @apply md-h2;
}

.slate-p {
  @apply md-p;
}
  
.slate-code {
  @apply md-code;
}

input:checked + label {
  @apply text-white;
  @apply bg-gray-700;
}