@import '../styles/algolia.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.aa-hidden-mobile-trigger-btn {
  @apply hidden !important;
}

body,
html {
  height: 100%;
  font-size: 16px;
  @apply font-sans text-base text-base-content bg-base-100;
}

h1 {
    @apply text-base-content text-4xl lg:text-5xl tracking-tight;
}

h2 {
    @apply text-base-content text-2xl font-bold tracking-tight leading-loose;
}

h3 {
    @apply text-base-content text-xl font-medium tracking-tight leading-loose;
}

h4 {
    @apply tracking-tight leading-loose;
}

.text-primary {
  @apply text-base-content !important;
}

.text-secondary {
  @apply text-base-content/60 !important;
}

.wiki-content {
  @apply prose prose-base max-w-none;
}

/**
A slightly deemphasized dotted underline for a tag in order to not competing with horizontal rulers
*/
.link-dotted {
  @apply underline decoration-dotted underline-offset-2 decoration-inherit;
}

/* Layout for summary section of the area and climb page. 2 columns on desktop, normal stack div on mobile. */
.area-climb-page-summary {
  @apply mt-6 lg:grid lg:grid-cols-3 w-full;
}

.area-climb-page-summary-left {
  @apply  lg:pr-8 border-base-content;
}

.area-climb-page-summary-right {
  @apply mt-6 lg:mt-0 lg:col-span-2 lg:pl-16 w-full;
}

.mdeditor-input {
  min-height: 150px;
  resize: none;
  position: relative;
  tab-size: 1;
  @apply p-4 focus:outline-neutral focus:outline-1;
  /* outline: 0; */
}

.mdeditor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  user-select: none;
  display: inline-block;
  pointer-events: none;
  @apply top-4 left-4;
}

/** 2-column layout for Area and Climb list */
.two-column-table {
  @apply lg:gap-x-24 lg:columns-2;
}

.three-column-table {
  @apply lg:gap-x-24 lg:columns-2 xl:columns-3;
}

.area-row {
  @apply py-4 flex flex-row flex-nowrap gap-4 px-4 items-start border-t break-inside-avoid-column break-inside-avoid;
}

.area-entity-box {
  box-shadow: 2px 2px 0px #fe4f1a;
  @apply rounded h-8 w-8 grid place-content-center bg-area-cue text-base-100 text-sm hover:decoration-0 hover:no-underline;
}

@layer utilities {
  .dialog-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-box !important; 
  }

  .dialog-default {
      @apply  top-0 left-0 h-screen md:dialog-center fixed z-50 w-screen max-w-screen-md bg-base-100 lg:drop-shadow-lg overflow-y-auto h-fit max-h-screen lg:max-h-[95vh];
  }

  .dialog-wide {
    @apply top-0 left-0 fixed z-50 w-full h-full w-screen h-screen bg-base-100 overflow-y-auto overscroll-contain;
  }

  .dialog-close-button {
    @apply absolute top-1 left-1 z-50;
  }

  .dialog-form-default {
    @apply mt-16 lg:mt-20 px-2 lg:px-4 mb-6 !important;
  }

  .dialog-title {
    @apply py-2 w-full text-center bg-base-100 z-50 leading-none;
  }

  .minimal-scrollbar::-webkit-scrollbar {
    width: 0.4rem;
  }
  .minimal-scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-100 rounded-full;
  }
  .minimal-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 rounded-full;
  }

  .default-page-margins {
    @apply px-4 mx-auto max-w-5xl xl:max-w-7xl;
  }
}

/**
  * Force mapbox-gl/maplibre library to use our font otherwise components inside the map 
  * will use their font and look out of place.
  */
.mapboxgl-map {
  font-family: inherit !important;
}
.maplibregl-map {
  font-family: inherit !important;
}