@import '../styles/algolia.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.aa-hidden-mobile-trigger-btn {
  @apply hidden !important;
}

body,
html {
  height: 100%;
  font-size: 16px;
  @apply font-sans text-base text-base-content bg-base-100;
}

/* .btn {
  min-height: 2rem;
  height: 2rem;  
}

.btn-md {
  min-height: 2rem;
  height: 2rem;
} */

h1 {
    @apply text-base-content text-4xl lg:text-5xl tracking-tight;
}

h2 {
    @apply text-base-content text-xl font-bold tracking-tight leading-loose;
}

h3 {
    @apply text-base-content text-lg font-semibold tracking-tight leading-loose;
}

.card-body {
  @apply sm:px-0 border-0 !important;
}

/* Layout for summary section of the area and climb page. 2 columns on desktop, normal stack div on mobile. */
.area-climb-page-summary {
  @apply mt-6 lg:grid lg:grid-cols-3 w-full;
}

.area-climb-page-summary-left {
  @apply  lg:pr-8 border-base-content;
}

.area-climb-page-summary-right {
  @apply mt-6 lg:mt-0 lg:col-span-2 lg:pl-16 w-full;
}

.mdeditor-input {
  min-height: 150px;
  resize: none;
  position: relative;
  tab-size: 1;
  @apply p-4 focus:outline-neutral focus:outline-1;
  /* outline: 0; */
}

.mdeditor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  user-select: none;
  display: inline-block;
  pointer-events: none;
  @apply top-4 left-4;
}
